<h1>My Orders</h1>

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="orders">
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let row">{{row.payload.val().shipping.name}}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let row">{{row.payload.val().datePlaced | date}}</td>
       </ng-container>
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
        
</div>